<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="logfile" fileName="${specialfolder:folder=CommonApplicationData}/LijsDev/CrystalReportRunner/logs/${processname}-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!--Note Log Level here is not actually used, it's always overriden by command line arguments.-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
