<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="logfile" fileName="${specialfolder:folder=CommonApplicationData}/LijsDev/CrystalReportRunner/logs/${processname}-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    <!--<target xsi:type="NLogViewer" name="viewer" address="udp://192.168.76.107:9999"/>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Trace" writeTo="viewer" />-->
  </rules>
</nlog>
